@tailwind base;
@tailwind components;
@tailwind utilities;

.card-image-wrapper {
  position: relative;
  width: 100%;
  height: 300px; 
}

.card-image-wrapper > div {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

